.box{
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 20px;
}

.equipamento-box{
    width: 20%;
    text-align: center;
    color: #003366;
    font-size: medium;
    border-right-style: solid;
    border-color: #D9D9D9;
}

.cont-atual-box{
    width: 20%;
    text-align: center;
    color: #006633;
    font-size: medium;
    border-right-style: solid;
    border-color: #D9D9D9;
}

.cont-loc-box{
    width: 20%;
    text-align: center;
    color: #006633;
    font-size: medium;
    border-right-style: solid;
    border-color: #D9D9D9;
}

.tot-printgo-box{
    width: 20%;
    text-align: center;
    color: #006633;
    font-size: medium;
    border-right-style: solid;
    border-color: #D9D9D9;
}

.tot-loc-box{
    width: 20%;
    text-align: center;
    color: #006633;
    font-size: medium;
    border-right-style: solid;
    border-color: #D9D9D9;
}

.report{
    border-style: none;
    background-color: #006633;
    cursor: pointer;
    border-radius: 10px;
    padding: 7px;
}

.report-image{
    height: 20px;
}

.box-error{
    border-color: #FF0000;
}

.button-space{
    display: flex;
    width: 7%;
    align-items: center;
    justify-content: center;
    
}

