.page-Routine{
    margin-top: 5px;
    padding-inline: 50px;
    justify-content: center;
}

.topRoutine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #0D3D6D;
    margin-inline: 70px;
    max-height: 120px;
    margin-bottom: -10px;
}

#titleRoutine{
    border-bottom: #0D3D6D;
    border-bottom-style: solid;
    width: fit-content;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 48px;
    color: #0D3D6D;
    margin-left: 30px;
}

.midPage-Routine{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

.bottomPage-Routine{
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    height: 40vh;
}

#labelRoutine{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 35px;
    color: #0D3D6D;
}

#slabelRoutine{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
}


#timeRoutine{
    width: 135px;
    height: 45px;
    border-radius: 10px;
    border-color: #0D3D6D;
    border-style: solid;
    text-align: center;
    font-size: 24px;
    font-family: Jost;
    text-align: center;
    padding-left: 30px;
}

#intervalRoutine{
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border-color: #0D3D6D;
    border: 2px solid #0D3D6D;
    border-style: solid;
    text-align: center;
    font-size: 24px;
    font-family: Jost;
    cursor: pointer;
}

#intervalRoutine-menu{
    max-height: 100px;
}

.dropdownRoutine{
    width: 255px;
    height: 45px;
    border: 2px solid #0D3D6D;
    border-radius: 10px;
    border-color: #0D3D6D;
    border-style: solid;
    font-size: 24px;
    font-family: Jost;
    cursor: pointer;
    padding-left: 15px;
}

#dayRoutine{
    width: 165px;
    height: 40px;
    border-radius: 10px;
    border-color: #0D3D6D;
    border-style: solid;
    text-align: center;
    font-size: 24px;
    font-family: Jost;
}

#smallboxRoutine{
    margin-right: 40px;
    margin-bottom: 30px;
    display: flex;
    width: 700px;
}

.optionsRoutine{
    margin-left: 70px;
}

.buttons-Routine{
    margin-left: 100px;
}

#addRoutine{
    background-color: #0D3D6D;
    height: 6vh;
    width: 13vw;
    color: white;
    font-size: 24px;
    border-radius: 30px;
    border-style: none;
    font-family: Jost;
    cursor: pointer;
    font-weight: 600;
    margin-right: 120px;
}

#cancelEditRoutine{
    background-color: rgb(255, 0, 0);
    height: 6vh;
    width: 10vw;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border-radius: 30px;
    border-style: none;
    font-family: Jost;
    cursor: pointer;
    font-weight: 600;
}

.weekDayOptions{
    display: flex;
    width: 194px;
    margin-left: -20px;
    margin-top: 6px;
}

.weekDayRoutine{
    display: inline-flex;
    font-weight: 500;
    margin-right: 5px;
    background-color: #70757a;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    font-size: 13px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.selectedDay{
    background-color: #006633;
    color: white;
}

.inputRoutine-error {
    border: 2px solid red !important;
  }
  
  .errorRoutine-message {
    display: flex;
    color: red;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 40px;
    width: 400px;
  }

.inputRoutine{
    width: 200px;
}
