.filter-container {
    font-family: Jost;
    padding: 20px;
}

.filter-header {
    text-align: center;
}

.dropdown-section {
    margin: 20px 0;
}

.dropdown-header {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1.5px solid #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #003366;
}

.dropdown-header:hover {
    color: #0055a5;
}

.arrow {
    transition: transform 0.2s;
    width: 16px;
    height: 16px;
}

.arrow.down {
    transform: rotate(0deg);
}

.arrow.up {
    transform: rotate(180deg);
}

.dropdown-content {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: none;
}

.add-equipment-btn {
    background-color: #2a6b25;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
