.item-box {
  display: flex;
}

.item-box .overlap-group {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #003366;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.item-box .text-wrapper {
  color: #003366;
  font-family: "Jost-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  flex: 1;
}
