.equipment-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between items */
  padding: 15px 30px 0px 30px; /* Optional padding around the list */
  flex: 1; /* Adicionado para flexibilidade */
}

.listEquipment-header {
  display: flex;
  justify-content: space-between; /* Alterado para espaçar o título e o filtro de busca */
  align-items: center; /* Alterado para centralizar verticalmente */
  margin: 0px 30px 20px 30px; /* Ajuste de margem para o título */
  border-bottom: 3px solid #003366;
}

.listEquipment-header h1 {
  font-weight: 400;
  font-size: 48px;
  color: #0d3d6d;
  text-align: left; /* Ajustado para alinhamento à esquerda */
  margin-bottom: 5px;
}

.search-filter {
  display: flex;
  align-items: center;
  position: relative; /* Alterado para posicionar o ícone dentro do input */
}

.search-filter svg {
  position: absolute;
  right: 15px;
  top: 59%;
  transform: translateY(-50%);
  background-color: #ffffff00;
  height: 25px;
}

.search-filter input {
  height: 5vh;
  width: 20vw;
  border-radius: 50px;
  padding-left: 10px;
  font-size: 20px;
  border: 2px solid #003366;
  padding-right: 40px; /* Adicionado para espaço do ícone */
}

.listEquipment-container {
  display: flex;
  padding: 30px; /* Adicionado padding para espaçamento */
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaço entre os filtros */
  margin-right: 20px; /* Espaço à direita para separar dos itens */
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #0d3d6d;
}

.filter select {
  height: 5vh;
  width: 15vw;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #003366;
}


.add-equipment-button-container {
  display: flex;
  justify-content: flex-start; /* Alinha o botão à esquerda */
  padding: 20px; /* Adicionado padding para espaçamento */
}

.add-equipment-button {
  background-color: #006633; 
  color: #ffffff; 
  border: none;
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 50px; 
  cursor: pointer;
  font-family: 'Jost', sans-serif; 
  font-weight: bold; 
  margin-top: 160px; 
  margin-left: 75px; 
}

.add-equipment-button:hover {
  background-color: #004d26; /* Cor do botão ao passar o mouse */
}
