#printer-pattern-signup-card {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  width: 80%;
}

#printer-pattern-form-header {
  font-size: 48px;
  color: #0d3d6d;
  margin-bottom: 16px;
  border-bottom: 2px solid #0d3d6d;
  font-weight: normal;
}

.printer-pattern-input-line {
  display: flex;
  width: 65%;
  flex-direction: column;
  padding: 0px;
  box-sizing: border-box;
  padding: 0 20px;
}
.printer-pattern-input-line label {
  font-size: 28px;
  color: #0d3d6d;
  padding-top: 20px;
}

.printer-pattern-input-line input {
  border-radius: 10px;
  border: 2px solid #0d3d6d;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 0px;
  padding: 6.5px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  width: 30rem;
}
.printer-pattern-input-line input::placeholder {
  font-size: 20px;
}

#printer-pattern-snmp-fields {
  width: 65vw;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
}

.snmp-header {
  font-size: 45px;
  color: #0d3d6d;
  margin-bottom: 16px;
  border-bottom: 2px solid #0d3d6d;
  font-weight: normal;
}

#snmp-fields-input-line {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#snmp-fields-input-line input {
  border-radius: 10px;
  border: 2px solid #0d3d6d;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 0px;
  padding: 6.5px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  width: 20rem;
}

#snmp-fields-input-line label {
  font-size: 25px;
  color: #0d3d6d;
  padding-top: 20px;
}
#snmp-fields-input-line input::placeholder {
  font-size: 20px;
}
#selection label {
  font-size: 25px;
  color: #0d3d6d;
  padding-top: 20px;
}
#selection select {
  width: 15vw;
  height: 2.5rem;
  color: #003366;
  border: 2px solid #0d3d6d;
  font-size: 23px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#selection {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: 20px;
}

.printer-pattern-form-button {
  height: 40px;
  width: 12vw;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem;
  font-weight: bold;
  margin-bottom: 5rem;
  margin-top: 3.5rem;
}

#cancel-bnt {
  background-color: #ff0000;
  transition: background-color 0.3s, filter 0.3s;
  margin-right: 3.5rem;
}

#cancel-bnt a {
  text-decoration: none;
  color: white;
}

#registrar-bnt {
  transition: background-color 0.3s, filter 0.3s;
  background-color: #003366;
}

#registrar-bnt:disabled {
  background-color: #6c6c6c !important;
  opacity: 65%;
  cursor: not-allowed;
}
