.add-contador-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 30px 0px 30px;
}

.add-contador-header {
  display: flex;
  margin: 0px 30px;
  border-bottom: 3px solid #003366;
  align-items: flex-end; 
}

.add-contador-header h1 {
  font-weight: 400;
  font-size: 48px;
  color: #0d3d6d;
  text-align: justify;
  margin-bottom: 5px;
}

.add-contador-form {
  margin: 20px 30px;
}

.localizacao-section {
  margin-bottom: 20px;
  padding: 0 30px;
}

.localizacao-section h2 {
  font-size: 24px;
  color: #0d3d6d;
  margin: 50px 0 10px;
  font-weight: normal;
}

.localizacao-underline,
.fields-underline {
  border-bottom: 3px solid #003366;
  margin: 0 0 20px;
  width: 100%;
  max-width: 950px;
}

.fields-underline {
  margin-top: 10px;
}

.localizacao-fields {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #0d3d6d;
}

.select-container select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  min-width: 300px;
  max-width: 950px;
}

.select-container.equipamento select {
  max-width: 300px; 
}

.select-container select, .campo input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  max-width: 270px; 
}

.select-container label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #0d3d6d;
  margin-top: 20px; 
}

.select-container.equipamento select, .campo.quantidade input, .campo.data input {
  max-width: 270px; 
}

/* Alinhas os campos de quantidade*/
.quantidade-impressao-section {
  display: flex;
  gap: 50px; 
}

body {
  font-family: 'Jost', sans-serif;
}

.botoes {
  display: flex;
  padding: 30px;
  gap: 50px; 
  margin-top: 30px; 
}

.botoes button {
  padding: 15px 70px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: bold; 
}

.registrar {
  background-color: #003366; 
  color: white;
}

.cancelar {
  background-color: #D91919; 
  color: white;
}


.campo.quantidade input:disabled {
  background-color: #f0f0f0; 
  cursor: not-allowed; 
  color: #999; 
}


.campo.quantidade input:disabled:hover {
  border: 1px solid #ccc; 
  box-shadow: 0 0 5px #ccc; 
}
