.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
    border-bottom-style: solid; 
    border-color: #0D3D6D;

}

.search-bar{
    display: flex;
    gap: 10%;
    width: 60%;
    justify-content: end;
}

.page{
    width: 80vw;
    margin: 0 auto;
}

.search-select{
    width: 300px;
}

.columns{
    color: #006633;
    display: flex;
    margin-right: 130px;
    text-align: center;
}

.equipamento{
    border-right-style: solid;
    border-color: #D9D9D9;
    width: 20%;
}

.cont-atual{
    border-right-style: solid;
    border-color: #D9D9D9;
    width: 20%;
    text-align: center;
}

.cont-loc{
    border-right-style: solid;
    border-color: #D9D9D9;
    width: 20%;
    text-align: center;
}

.tot-loc{
    border-right-style: solid;
    border-color: #D9D9D9;
    width: 20%;
    text-align: center;

}
.tot-printgo{
    border-right-style: solid;
    border-color: #D9D9D9;
    width: 20%;
    text-align: center;

}
