/* Container */
.patternlist-container {
  position: relative;
  width: 100vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Header */
.patternlist-header{
  height: 10vh;
  width: 80vw;
  color: #0D3D6D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom:#003366 4px solid;
  
}

.patternlist-header-title {
    display: flex;
    flex-direction: column;
}

.patternlist-header-title h2 {
  margin: 0px;
  font-size: 35px;
  font-weight: normal;
}

.patternlist-header-title h4 {
    margin: 0px;
    font-size: 20px;
    padding-left: 20px;
}

.patternlist-header-search-filter {
    display: flex;
    align-items: center;
    height: 100%;
   
}

.patternlist-header-search-filter div input {
  height: 5vh;
  width: 20vw;
  margin-bottom: 8px;
  justify-self: end;
  border-radius: 50px;
  font-size: large;
  color: #003366;
  border: #0d3d6d 2px solid;
  padding-left: 10px;
}

.patternlist filter {
    display: block;
}

/* Filter dropdown */

.patternlist-filter:hover{
    cursor: pointer;
}
.patternlist-filter img{
    margin-left: 10px;
    height: 3.5vw;
}
.patternlist-dropdown-filter {
  display: none;
  position: absolute;
  margin-right: 9vw;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: #0D3D6D 1px solid;
  border-radius: 10px;
  
}

.patternlist-dropdown-filter a{
    color: #003366;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 4px 4px;
    border-radius: 10px;
}

.patternlist-dropdown-filter a:hover{
    background-color: #003366;
    color: #fff;
}

.patternlist-filter:hover .patternlist-dropdown-filter {
    display: flex;
    flex-direction: column;
}

/* Padrão */
.patternlist-pattern {
    height:13vh;
    width: 70vw;
    margin-top: 2vh;
    color: #003366;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #003366 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.patternlist-pattern h6 {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.patternlist-model{
    display: flex;
    flex-direction: column;
}

.patternlist-model h4{
    width: 60vw;
    margin: 0;
    cursor: pointer;
}

.patternlist-model a{
    text-decoration: none;
    color: #003366;
}

.patternlist-model a:visited{
    text-decoration: none;
    color: #003366;
}

.patternlist-model h5{
    padding-top: 0.8rem;
    padding-left: lrem;
    color: #BF1B1B;
    margin: 0;
}

/* Dropdown padrão */
.patternlist-engine {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 3vw;
    margin-right: 40px;
    cursor: pointer;
}

.patternlist-pattern-dropdown {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    margin-right: 15vw;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: #0D3D6D 1px solid;
    border-radius: 10px;
}


.patternlist-pattern-dropdown a{
    color: #003366;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 4px 4px;
    border-radius: 10px;
}

.patternlist-pattern-dropdown a:hover{
    background-color: #003366;
    color: #fff;
}

.patternlist-engine:hover .patternlist-pattern-dropdown{
    display: flex;
    flex-direction: column;
}

/* Modal */
.deactivate-modal-buttons{
    display: none;
}

.actions {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
