#registerPrinter-container {
  padding-left: 300px;
  padding-top: 50px;
  display: flow-root;
  padding-right: 200px;
  align-items: center;
}

#registerPrinter-container img {
  margin-left: 4vw;
  width: 45vw;
}

@media (max-width: 900px) {
  #registerPrinter-container img {
    display: auto;
  }
}
