#registerPrinter-container {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

#registerPrinter-container img {
    margin-left: 4vw;
    width: 45vw;
}

@media (max-width: 900px) {
    #registerPrinter-container img {
        display: auto;
    }
}
