.space {
    margin: 50px 0px;
}

#view-printer-data{
  padding-left: 300px;
  padding-top: 50px;
  display: flow-root;
  padding-right: 200px;
  align-items: center;
}


.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#localization {
    padding-top: 0px;
}


@media (max-width: 900px) {
    #registerPrinter-card {
        width: 90%;
        /* Adjust the form width as needed*/
        margin: 0 auto;
        /* Centers the form horizontally*/
        padding: 1rem;
        /* Adjust padding as needed */
    }

    #input-line {
        display: block;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
