/* Container */



/* View card */

.viewpattern-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 65rem;
    height: 100%;
    justify-content: flex-start;
    align-items: start;
    padding: 1rem 5rem;
    margin-right: 8vw;
    margin-bottom: 1vh;
}

.viewpattern-loading-text {
  color: #003366;
  display: block;
  font-size: 20px;
}

/* Header */

.viewpattern-card-header {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: block;
}

.viewpattern-card-header a {
    font-weight: bold;
    font-size: 22px;
    color: #003366;
    margin-left: 20px;
    text-decoration: none;
}

/* Infos */

.viewpattern-info-group{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-between;
    
}

.viewpattern-info-header {
    color: #003366;
    font-size: 30px;
    
}

.viewpattern-info-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.viewpattern-info-line label {
  color: #003366;
  display: block;
  margin-bottom: 0px;
  
}

.viewpattern-info-box {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 12px 10px; /* Adiciona espaço acima, abaixo, à direita e à esquerda */
    box-sizing: border-box;
    
    padding: 5px; /* Adiciona espaço interno */
    border-radius: 15px; /* Adiciona cantos arredondados */
    
}

.viewpattern-info-box label {
  font-size: 28px;
  color: #0d3d6d;
    
}

.viewpattern-info-box p {
  border-radius: 10px;
  border: 2px solid #0d3d6d;
  font-size: 23px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 0px;
  padding: 6.5px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 3rem;
  width: 30rem;
  color: #003366;
    
}

.viewpattern-oid-line {
  width: 65vw;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
  
}

.viewpattern-oid-line p {
  color: #003366;
  
}

.viewpattern-oid-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0; /* Adiciona espaço acima e abaixo */
 
  padding: 5px; /* Adiciona espaço interno */
  border-radius: 15px; /* Adiciona cantos arredondados */
}

.viewpattern-oid-box label {
  font-size: 28px;
  color: #0d3d6d;
}

.viewpattern-oid-box p {
  border-radius: 10px;
  border: 2px solid #0d3d6d;
  font-size: 23px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 0px;
  padding: 6.5px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 3rem;
  width: 20rem;
  color: #003366;
}

/*Estilo de circuferencia */

.viewpattern-ellipse {
    position: fixed;
    display: flex;
    top: 10vh;
    right: 0vw;
    width: fit-content;
    min-height: 100vh;
    justify-content: flex-end;
    align-items: end;
    z-index: -1;
    color:#003366;
}

.viewpattern-ellipse img{
    width: 40vw;
    height: 100vh;
}

@media (max-width: 1210px) {
    .viewpattern-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-left: 2rem;
        align-items: center;
    }
}